/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

.box-shadow {
	box-shadow: 0px 10px 35px 2px #eeeeee; /*THIS does not work as expected*/

}

.white {
	color:#ffffff;	
}

html,body{
    height: 100%;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 200px;    /* height of footer */
}

.footer{
    min-height: 170px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
}

.navbar-toggle, navbar-toggle:hover {

  background-color: #585859;
  border-color: #31347B;
 }
